@font-face {
  font-family: "Rubik";
  font-display: swap; 
  font-weight: 400;
  src: url("./fonts/rubikregular.woff2") format("woff2"), 
  url("./fonts/rubikregular.woff") format("woff"); 
}
@font-face {
  font-family: "Rubik";
  font-display: swap; 
  font-weight: 500;
  src: url("./fonts/rubikmedium.woff2") format("woff2"), 
  url("./fonts/rubikmedium.woff") format("woff"); 
}
@font-face {
  font-family: "Rubik";
  font-display: swap; 
  font-weight: 700;
  src: url("./fonts/rubikbold.woff2") format("woff2"), 
  url("./fonts/rubikbold.woff") format("woff"); 
}
* {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
body {
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
}
img {
  display: block;
  height: auto;
}
.container {
  width: 1240px;
  margin-inline: auto;
  padding-inline: 20px;
}
.list-unistant {
  margin-block: 0;
  padding-left: 0;
  list-style: none;
}
/* ####### header #######  */
.site-header-wrapper {
  padding-block: 30px;
  background-color: #f6f6f6;
}
.site-header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header-start {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 35px;
}
.currency-list {
  display: flex;
  column-gap: 25px;
}
.currency-item {
  font-size: 16px;
  line-height: 19px;
  color: #555;
}
.currency-symbol {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #2959ce;
}
.site-header-end {
  display: flex;
  column-gap: 25px;
}
.search-input {
  width: 275px;
  border-radius: 60px;
  background-color:#fff;
  padding: 15px 15px 13px 41px;
  content: "";
  background-image: url("./images/search.svg");
  /* background-position: center; */
  background-position: 15px center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
.search-input::placeholder {
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #8d8d8d;
}
.language-list {
  width: 70px;
  display: flex;
  align-items: center;
  border-radius: 39px;
  background-color: #dce6ff;
  padding: 3px 0px 3px 3px;
  column-gap: 8px;
}
.language-item:nth-child(1) {
  font-size: 13px;
  line-height: 12px;
  background-color: #fff;
  border-radius: 50%;
  padding: 9px 7px;
}
.language-item:nth-child(2) {
  font-size: 13px;
  line-height: 16px;
  color:  #a6a6a6;
}
.site-header-end-link {
  text-decoration-line: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  border-radius: 10px;
  padding: 13px 20px;
  background-color: #7296ec;
  color: #fff;
  
}

/* ######## nav ########  */
.site-nav {
  padding-top:30px;
  padding-bottom: 60px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid #d1d1d1; */
}
.site-nav-span {
  display: block;
  width: 1200px;
  height: 1px;
  border: 1px solid #d1d1d1;
  background-color:#d1d1d1 ;
}
.nav-list {
  margin-bottom: 20px;
}
.nav-link {
  text-decoration-line: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.33px;
  color: #7f7f7f;
}
/* ######## aside #######  */
.site-aside {
  padding-bottom: 50px;
}

/* ####### hero  ######  */
.site-main {
  padding-bottom: 100px;
}
.hero-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
  
}
.hero-item {
  width: 393px;
  background-color: #f6f6f6;
  border-radius: 15px;
  padding:20px 17px 15px 17px ;
  margin-right: 10px;
  margin-bottom: 8px;
}
.hero-item:nth-child(3) {
  margin-right: 0;
}
.hero-item:nth-child(6) {
  margin-right: 0;
}
.hero-item:nth-child(4) {
  margin-bottom: 0;
}
.hero-item:nth-child(5) {
  margin-bottom: 0;
}
.hero-item:nth-child(6) {
  margin-bottom: 0;
}
.hero-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  margin-block: 0;
  margin-bottom: 10px;
  color: #000;
}
.hero-desc {
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
  margin-block: 0;
  margin-bottom: 15px;
}
.hero-img {
  margin-bottom: 15px;
}
.hero-text {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 14.22px;
  color: #5e5f61;
  margin-block: 0;
}
.hero-time {
  margin-left: 3px;
}
.hero-text::before {
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url("./images/redspring.png");
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.last-text::before {
  background-image: url("./images/gazeta.png");
}
.change-text::before {
  background-image: url("./images/digger.png");
}
.change-desc::before {
  background-image: url("./images/xайтек.png");
}
.list-text::before {
  background-image: url("./images/lenta.png");
}
.lenta-text::before {
  background-image: url("./images/tарантас.png");
}

/* ######## article   #######  */
.site-article {
  padding-bottom: 60px;
}
.article-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  padding: 24px 71px 24px 29px ;
  width: 1050px;
  content: "";
  background-image: url("./images/article.svg");
  background-repeat: no-repeat;
  background-size: 1050px 100px;
  background-position: center;
}
.article-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  margin-block: 0;
}
.box-title {
  width: 404px;
}
.article-link {
  text-decoration-line: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.7px;
  padding: 13px 30px;
  background-color:#F78B3B;
  border-radius: 10px;
  color: #fff;
}

/* ####### world   #######  */

.heading-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.44px;
  margin-block: 0;
  margin-bottom: 20px;
}
.world-item {
  display: flex;
  width: 795px;
  border-radius: 15px;
  background-color: #f6f6f6;
  padding: 20px 20px 20px 17px;
  margin-bottom: 10px;
}
.world-img {
  margin-right: 15px;
}
.world-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  margin-block: 0;
  margin-bottom: 10px;
}
.world-strong-link {
  text-decoration-line: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color:#000;
}
.world-desc {
  font-size: 16px;
  line-height: 22px;
  margin-block: 0;
  margin-bottom: 17px;
  color: #4a4b4c;
}
.world-text {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 14.22px;
  margin-block: 0;
  color: #5e5f61;
  
}
.world-text::before {
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url("./images/redspring.png");
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.world-tacc::before {
  background-image: url("./images/tacc.png");
}
.world-change::before {
  background-image: url("./images/pbk.png");
}
.world-item:nth-child(4) {
  margin-bottom: 0;
  margin-bottom: 17px;
}
.world-last::before {
  background-image: url("./images/solenka..png");
}
.world-strong {
  margin-inline:auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.96px;
}
.world-item:nth-child(5) {
  margin-bottom: 0;
}
.world-acroos {
  margin-right: 10px;
}
.acroos-list {
  width: 393px;
  background-color: #f6f6f6;
  padding: 20px 20px 25px 17px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.acroos-item {
  width: 359px;
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 20px;
}
.heading-acroos {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.44px;
  margin-block: 0;
}
.acroos-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-block: 0;
  margin-bottom: 8px;
}
.acroos-desc {
  font-size: 13px;
  line-height: 15.41px;
  color: #5e5f61;
  margin-block: 0;
  margin-bottom: 20px;
}
.acroos-change {
  margin-bottom: 0;
}
.acroos-item:nth-child(1) {
  margin-bottom: 25px;
  border-bottom: 0;
}
.acroos-item:nth-child(5) {
  border-bottom: 0;
  margin-bottom: 0;
}
.world-wrapper {
  display: flex;
}
/* ####### services   #######  */

.heading-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.44px;
  margin-block: 0;
  margin-bottom: 20px;
}
.services-item {
  display: flex;
  width: 795px;
  border-radius: 15px;
  background-color: #f6f6f6;
  padding: 20px 20px 20px 17px;
  margin-bottom: 10px;
}
.services-img {
  margin-right: 15px;
}
.services-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  margin-block: 0;
  margin-bottom: 10px;
}
.services-desc {
  font-size: 16px;
  line-height: 22px;
  margin-block: 0;
  margin-bottom: 17px;
  color: #4a4b4c;
}
.services-text {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 14.22px;
  margin-block: 0;
  color: #5e5f61;
  
}
.services-text::before {
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url("./images/redspring.png");
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.services-tacc::before {
  background-image: url("./images/pепелац.png");
}
.services-change::before {
  background-image: url("./images/kлуб.png");
}
.services-item:nth-child(4) {
  margin-bottom: 0;
  margin-bottom: 17px;
}
.services-sub::before {
  background-image: url("./images/sputnik.png");
}

.services-satellite::before {
  background-image: url("./images/ireactor.png");
}
.services-com::before {
  background-image: url("./images/kомпания.png");
}
.services-last::before {
  background-image: url("./images/fергана.png");
}
.services-fbm::before {
  background-image: url("./images/fbm.ru.png");
}
.services-strong {
  margin-inline:auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.96px;
}
.services-item:nth-child(5) {
  margin-bottom: 0;
}
.services-acroos {
  margin-right: 10px;
}
.acroos-list {
  width: 393px;
  background-color: #f6f6f6;
  padding: 20px 20px 25px 17px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.acroos-item {
  width: 359px;
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 20px;
}
.heading-acroos {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.44px;
  margin-block: 0;
}
.acroos-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-block: 0;
  margin-bottom: 8px;
}
.acroos-desc {
  font-size: 13px;
  line-height: 15.41px;
  color: #5e5f61;
  margin-block: 0;
  margin-bottom: 20px;
}
/* .hero-time {
  margin-left: 3px;
} */
.acroos-change {
  margin-bottom: 0;
}
.acroos-item:nth-child(1) {
  margin-bottom: 25px;
  border-bottom: 0;
}
.acroos-item:nth-child(5) {
  border-bottom: 0;
  margin-bottom: 0;
}
.services-wrapper {
  display: flex;
}

/* ####### footer #####  */
.site-footer {
  padding-top: 40px;
  background-color: #7297ef;
  padding-bottom: 40px;
}
.footer-surround {
  width: 998px;
  margin-inline: auto;
  padding-bottom: 20px;
}
.footer-wrap {
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid #cecece;
}
.logo-picture {
  margin-bottom: 15px;
}
.footer-item {
  margin-bottom: 20px;
}
.footer-item:nth-child(4) {
  margin-bottom: 0;
}
.item-change {
  margin-bottom: 0;
}
.footer-text {
  width: 229px;
  margin-right: 203px;
}
.footer-desc {
  font-size: 12px;
  line-height: 19px;
  margin-block: 0;
  color: #fff;
}
.footer-link {
  text-decoration-line: none;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.96px;
  color: #fff;
}
.footer-list {
  margin-right: 100px;
}
.footer-span {
  width: 161px;
}
.span-strong {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  color: #fff;
}
.footer-last {
  display: flex;
  justify-content: space-between;
  width: 998px;
  margin-inline: auto;
}
.footer-last-list {
  display: flex;
  
}
.footer-last-item {
  margin-right: 25px;
}
.footer-last-item:nth-child(4) {
  margin-right: 0;
}
.service-wrapper {
  display: flex;
}
.service {
  width: 797px;
  margin-right: 10px;
}
.service-span {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  color: #5e5f61;
  margin-bottom: 30px;
}
.service-time {
  margin-left: 3px;
}
.service-span::before {
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url("./images/fbm.ru.png");
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.service-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 36px;
  margin-block: 0;
  margin-bottom: 20px;
}
.service-img {
  margin-bottom: 25px;
}
.service-item {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 24px;
}
.service-item:nth-child(6) {
  margin-bottom: 0;
}
.service {
  padding-bottom: 50px;
  border-bottom: 1px solid #d2d2d2;
  margin-bottom: 60px;
}
.services-head {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 20px;
  
}
.head-list {
  display: flex;
  column-gap: 10px;
  
}
.head-item {
  width: 393px;
  background-color: #f6f6f6;
  border-radius: 15px;
  padding: 20px 18px 15px 17px;
  
}
.head-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 10px;
}
.head-item-desc {
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 20px;
  
}
.head-item-text {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  margin-block: 0;
  color:  #5e5f61;
}
.head-item-text-time {
  margin-left: 3px;
  
}
.head-item-text::before {
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url("./images/digger.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  margin-right: 10px;
}
.head-item-text-change::before {
  background-image: url("images/lenta.png");
}
.head-item-text-last::before {
  background-image: url("images/tарантас.png");
}
.writetous-inner {
  width: 696px;
  
}
.writetous-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.writetous-inner-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 20px;
}
.user-name {
  margin-right: 5px;
}
.user-input {
  width: 343px;
  padding-block: 18px;
  padding-left: 20px;
  border: 1px solid #00000033;
  border-radius: 10px;
  margin-bottom: 10px;
}
.user-email {
  width:696px ;
  display: block;
  border: 1px solid #00000033;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-block: 18px;
  padding-left: 20px;
  
}
.user-text {
  display: block;
  width: 696px;
  height: 180px;
  padding-top: 18px;
  padding-bottom: 143px;
  padding-left: 20px;
  border: 1px solid #00000033;
  border-radius: 10px;
  margin-bottom: 20px;
  
}
.user-dispatch {
  /* text-decoration-line: none; */
  border-style:none ;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #fff;
  margin-left: 555px;
  padding: 17px 30px;
  background-color: #7297ef;
  border-radius: 10px;
  
}
.writetous-address {
  width: 494px;
  border: 1px solid #D2D2D2;
  background-color:  #f6f6f6;
  border-radius: 10px;
  padding-block: 36px;
  padding-left: 25px;
  margin-bottom: 20px;
}
.address-desc {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #000;
  margin-bottom: 7px;
}
.address-link {
  display: block;
  text-decoration-line: none;
  font-family: Rubik;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.96px;
  text-align: left;
  color: #000;
  margin-bottom: 20px;
}
.address-span {
  display: block;
  width: 444px;
  border: 1px solid #D2D2D2;
  border-radius: 1px;
  margin-bottom: 20px;
}